---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Button from '../components/Button.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="About | Manny Mazaira" description="About Manny Mazaira - CV">
	<div class="stack gap-20">
		<main class="wrapper about">
			<section>
				<h2 class="section-title">Summary</h2>
				<div class="content">
					<p>
						For the past 20 years, I've treated my career like a grand creative expedition—intentionally diving into diverse roles across different companies to push the boundaries of my skills. This journey has given me a rich, well-rounded perspective and hands-on experience across multiple facets of the industry. Along the way, I discovered my true creative home in motion graphics animation and visual effects, cementing my passion for bringing visuals to life. Beyond the screen, I also channel my creativity through music, exploring modular synthesis and hand percussion as expressive extensions of my artistic voice.

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BFA in Computer animation at Miami International University of Art and Design</p>
					<p>Advanced Studies in Character Animation at AnimationMentor.com</p>
					<p>Houdini Courses: HipFlask.how and Houdini-Course.com</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Motion Graphics, 3d design, Generative AI, Modular Synthesis</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p>FX Networks: Motion Graphics Animator / VFX Artist 2021-2023</p>
					<p>Eikon Group: Motion Graphics Animator / VFX Artist 2018-2020</p>
					<p>Freelance: Motion Graphics Animator / VFX Artist 2015-Present</p>
					<p>Hulu: Motion Graphics Animator / VFX Artist 2015</p>
					<p>The Hub: Motion Graphics Animator / VFX Artist 2012-2015</p>
					<p>Sapient Nitro: Motion Graphics Animator / VFX Artist 2009-2012</p>
				</div>
			</section>
		</main>

		<!-- <div class="know-more-section">
			<Button href="/bento" variant="primary">
				Know More About Me
				<Icon icon="arrow-right" size="1.2em" />
			</Button>
		</div> -->

		<!-- <ContactCTA /> -->
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
		margin-top: 10rem;
		max-width: 80rem;
		margin: 10rem auto 0;
		padding: 0 1.5rem;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.know-more-section {
		display: flex;
		justify-content: center;
		padding: 2rem 0;
		background: var(--gray-999_40);
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
			max-width: 80rem;
			padding: 0 2.5rem;
			margin: 10rem auto 0;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>