---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import ReelsGrid from '../components/ReelsGrid.astro';

const reels = [
];
---

<BaseLayout title="Reels | Manny Mazaira" description="Check out my video editing reels">
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <h1>Featured Work</h1>
      <ReelsGrid reels={reels} />
    </main>
   <!-- <ContactCTA /> -->
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: var(--text-4xl);
    color: var(--gray-0);
  }
</style>