---
import HeroContent from './HeroContent.astro';
import InteractiveBackground from './InteractiveBackground.astro';
---

<section class="hero">
  <InteractiveBackground />
  <HeroContent />
</section>

<style>
  .hero {
    position: relative;
    height: calc(100vh - var(--nav-height));
    margin-top: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }

  @media (min-width: 50em) {
    .hero {
      height: calc(100vh - var(--nav-height));
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      width: 100vw;
    }
  }
</style>